.link-underline-opacity-0 {
  background-color: white;
  opacity: 50%;
  width: 200px;
  transition: opacity 0.3s ease;
}

.link-underline-opacity-0:hover {
  opacity: 100%;
  background-color: white;
}
