.result-page-container {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
}
.result-card {
    background: white;
    border-radius: 10px;
    padding: 10px 50px;
    width: 50%;
    box-shadow: 0px 4px 20px rgb(69,136,164, 1);
    text-align: center;
}
.result-title {
    font-size: 2rem;
    font-weight: 600;
    color: #545353;
    font-family: "Poppins", serif;
}
.result-description {
    font-size: 1.2rem;
    color: #545353;
    margin: 20px 0;
    font-family: "Poppins", serif;
}
.result-image-container {
    margin: 20px 0;
}
.result-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.separator-line {
    border: none;
    border-top: 2px solid #9894b5;
    margin: 20px 0;
}
.result-score {
    font-size: 1.1rem;
    color: #545353;
    font-weight: 600;
    margin-top: 20px;
    font-family: "Poppins", serif;
}

.toggle-description-btn {
    border: #545353;
    border-radius: 8px;
}